@page "/pizzas"
@using BlazingPizza.data
@inject PizzaService PizzaSvc


<h1>Choisi ton pizza</h1>

<p>Nous avons tous les délicieux pizza:</p>

@inject  (todaysPizza == null){
    <p>Nous recherche si le pizza est disponible</p>
}
else {
    
}